html, body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.tabs-content {
    height: 100%;
    overflow-y: scroll !important;
}

#test-swipe-2{
    display: flex;
    flex-direction: column;
}

#test-swipe-2 img{
    width: 20%;
    height: auto;
}

#test-swipe-2 .info{
    flex-direction: column;
}
